[submodule "fisica_experimental_i"]
	path = fisica_experimental_i
	url = git@github.com:morazotti/fisica_experimental_i.git
[submodule "fisica_experimental_b"]
	path = fisica_experimental_b
	url = git@github.com:morazotti/fisica_experimental_b.git
